<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro de Eventos Culturest</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/static/script.js"></script>
  <!--<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap" rel="stylesheet"> -->
  <style>
    .logos {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
    .titulo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #fecha {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .conferencia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2px;
      margin-bottom: 5px;
    }
    .expediente {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-bottom: 5px;
    }
    body{
      font-family: "Asap Condensed", sans-serif;
      font-weight: 400;
    }
  </style>
</head>
<body>
  <div class="titulo">
    <img src="/static/img/Escudo_Unison.png", class: "logos", alt="Logo UNISON">
    <h1>Registro de Eventos Culturest</h1>
    <img src="/static/img/LOGO_CULTUREST.png", class: "logos", alt="Logo CULTUREST">
  </div>

  <div id="fecha"></div>

  <div class="conferencia">
    <h2>Eventos</h2>
    <h3>Hackathon 2025</h3>
  </div>

  <div class="expediente">
    <h4>Lea el expediente del alumno</h4>
    <h1 id="salida"></h1>
    <h2 id="evento"></h2>
  </div>
</body>
</html>
